.img-preview {
  width: 50px;
  object-fit: contain;
  margin-top: 10px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.file-upload button {
  padding: 8px 16px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .file-upload {
    margin-top: 10px;
  }
}
